﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    <div class="row">
        <div class="col-lg-3">
            <label for="input">Binary or hexadecimal number to convert</label>
        </div>
        <div class="col-lg-6">
            <input type="text" name="input" id="input" required class="form-control"
                   value="@ViewBag.Input" />

        </div>
        <div class="col-lg-3">
            <span class="glyphicon glyphicon-info-sign"></span>
            <label class="info">Hex values start with ox</label>
        </div>
    </div>
    <input class="btn btn" type="Submit" value="Convert"/>

    @* Show error if exists or show decimal value *@
    @if (ViewBag.Error != null) 
    {
        <p class="alert alert-danger">
            @ViewBag.Error
        </p>
    }
    else if(ViewBag.Decimal != null)
    {
    <div class="alert alert-success">
        The decimal value is: @ViewBag.Decimal
    </div>
    }
</form>